@media screen and (max-width: 992px) {
    .banner-section {
        flex-direction: column-reverse;
        align-items: center;
    }

    .banner-info {
        width: 100%;
    }

    .banner-info-container {
        width: 100%;
        text-align: center;
    }

    .banner-img {
        width: 100%;
        text-align: center;
    }

    .we-are-gamer-container {
        flex-direction: column;
    }

    .we-are-gamer-img {
        width: 100%;
    }

    .we-are-gamer-info {
        width: 100%;
        text-align: center;
    }

    .funny-video-card-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .careers-container {
        flex-direction: column;
        gap: 50px;
    }

    .careers-info {
        width: 100%;
    }
    
    .careers-img {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    nav {
        padding: 40px 0px;
        box-shadow: none;
    }

    .nav-items {
        flex-direction: column;
        gap: 30px;
    }
}

@media screen and (max-width: 576px) {
    .menu-nav-social {
        flex-direction: column;
    }
    
    .banner-sub-title {
        font-size: 2.2rem;
    }

    .banner-title {
        font-size: 4.8rem;
    }

    .we-are-gamer-sub-desc {
        margin-top: 40px;
    }

    .funny-video-card-container {
        grid-template-columns: 1fr;
    }

    .funny-video-title {
        font-size: 2.6rem;
    }

    .all-games-container {
        row-gap: 15px;
    }
}