/* Font Family Link */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.container {
    width: 82%;
    margin: 0 auto;
}

.primary-color {
    color: #FF42A5;
}

.btn-primary {
    padding: 20px 35px;
    background-color: #FF42A5;
    color: #ffffff;
    font-size: 1.25rem;
    font-weight: 600;
    text-transform: uppercase;
    border: none;
    border-radius: 40px;
    cursor: pointer;
}

/* Navbar Style */

nav {
    padding: 20px 0px;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.nav-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.logo-img img {
    width: 60px;
}

.logo-text {
    font-size: 1.7rem;
    color: #0B0223;
}

.menu-nav-social {
    display: flex;
    align-items: center;
    gap: 30px;
}

.menu {
    display: flex;
    align-items: center;
    gap: 30px;
}

.menu li a {
    color: #3C354F;
    font-size: 1.1rem;
    font-weight: 500;
}

.nav-social {
    display: flex;
    align-items: center;
    gap: 15px;
    border-radius: 8px;
    background: #0b02231a;
    padding: 15px;
}

.nav-social p {
    color: #3C354F;
    font-size: 1.1rem;
    font-weight: 500;
}

.nav-social-item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-social-item i {
    font-size: 1.5rem;
    cursor: pointer;
}

.nav-youtube {
    color: #ff0000;
}

/* Banner Section Style */

.banner-section {
    display: flex;
    gap: 60px;
}

.banner-btn-2 {
    background-color: #4EC5F7;
    margin-left: 10px;
}

.banner-info-container {
    width: 50%;
    padding: 40px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../images/Group14.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-sub-title {
    color: #0B0223;
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
}

.banner-title {
    font-size: 5.9rem;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.banner-desc {
    margin: 20px 0px 40px;
}

.banner-desc-text {
    color: #534C64;
    font-size: 1.25rem;
    font-weight: 500;
    margin-top: 10px;
}

.banner-desc-text i {
    color: #ff42a5;
}

.banner-img {
    width: 50%;
}

.banner-img img {
    width: 80%;
}

/* We Are Gamer Section */

.we-are-gamer {
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 13.13%, rgba(255, 66, 165, 0.03) 87.94%);
    padding: 60px 0px;
}

.we-are-gamer-container {
    display: flex;
    align-items: center;
    gap: 40px;
}

.we-are-gamer-img {
    width: 50%;
}

.we-are-gamer-img img {
    width: 100%;
}

.we-are-gamer-info {
    width: 50%;
    text-align: right;
}

.we-are-gamer-title {
    font-size: 3rem;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.we-are-gamer-desc {
    color: #534C64;
    font-size: 1.1rem;
    font-style: normal;
    line-height: 30px;
    margin: 20px 0px;
}

.we-are-gamer-sub-desc {
    margin-top: 20px;
    color: #534C64;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 25px;
}

.sub-desc-bold {
    font-weight: 800;
}

/* Funny Video Section Style */

.funny-video {
    padding: 50px 0px;
}

.funny-video-title {
    color: #0B0223;
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
}

.funny-video-title span {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.funny-video-desc {
    color: #534C64;
    text-align: center;
    font-size: 1.1rem;
    margin-top: 10px;
}

.funny-video-card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-top: 40px;
}

.funny-video-card-img {
    position: relative;
    cursor: pointer;
    border: 3px solid #fff;
    border-radius: 16px;
}
  
.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: all .5s;
    backface-visibility: hidden;
}
  
.middle {
    transition: all .5s;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}
  
.funny-video-card-img:hover .image {
    opacity: 0.5;
    border: 3px solid #ff42a5;
    border-radius: 16px;
}
  
.funny-video-card-img:hover .middle {
    opacity: 1;
}
  
.text i {
    font-size: 3rem;
    color: #ff42a5;
}

.text p {
    font-size: 1.25rem;
    font-weight: 600;
    color: #ff42a5;
    margin-top: 10px;
}

.funny-video-card-desc {
    color: #534C64;
    font-size: 1rem;
    font-weight: 500;
    margin-top: 10px;
}

